.movie-info {
  color: white;
  width: 60%;
  margin: 0 auto;
  height: auto;
  display: flex;
  margin-top: 50px;
}
.movie_title {
  color: gold;
}

.info_container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  letter-spacing: 1px;
}

img {
  border: 1px solid gray;
}

.movie_sub_infos {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px 0;
}

.year_info {
  margin-right: 50px;
}

.runtime_info {
  margin-right: 50px;
}

#info_key {
  font-weight: 600;
  color: rgb(41, 17, 255);
}

.add_list_btn {
  margin-top: 10px;
  width: 200px;
  box-shadow: inset 0px 1px 0px 0px #a4e271;
  background: linear-gradient(to bottom, #72a103 5%, #537505 100%);
  background-color: #72a103;
  border-radius: 6px;
  border: 1px solid #74b807;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528009;
}
.add_list_btn:hover {
  background: linear-gradient(to bottom, #537505 5%, #72a103 100%);
  background-color: #537505;
}
.add_list_btn:active {
  position: relative;
  top: 1px;
}

.add_list_btn:focus {
  outline: none;
  box-shadow: none;
}

.delete_list_btn {
  margin-top: 10px;
  width: 200px;
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  background: linear-gradient(to bottom, #e64135 5%, #943128 100%);
  background-color: #e64135;
  border-radius: 6px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #810e05;
}
.delete_list_btn:hover {
  background: linear-gradient(to bottom, #943128 5%, #e64135 100%);
  background-color: #943128;
}
.delete_list_btn:active {
  position: relative;
  top: 1px;
}
.delete_list_btn:focus {
  outline: none;
  box-shadow: none;
}

.delete_list_btn {
  width: 200px;
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  background: linear-gradient(to bottom, #e64135 5%, #943128 100%);
  background-color: #e64135;
  border-radius: 6px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #810e05;
}
.delete_list_btn:hover {
  background: linear-gradient(to bottom, #943128 5%, #e64135 100%);
  background-color: #943128;
}
.delete_list_btn:active {
  position: relative;
  top: 1px;
}
.delete_list_btn:focus {
  outline: none;
  box-shadow: none;
}
