.searchbar {
  form {
    margin-top: 50px;

    .search-input {
      border-radius: 5px;
      background-color: rgb(206, 206, 206);
      height: 30px;
      border: none;
      width: 200px;
      text-indent: 10px;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    button {
      border: none;
      background-color: rgb(206, 206, 206);
      margin-left: -50px;

      width: 50px;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}
