@import url("https://fonts.googleapis.com/css2?family=Teko:wght@400;600&display=swap");
@import "card";
@import "searchbar";
@import "config";
@import "movieinfo";
@import "listcard";
@import "responsive";

body {
  background: black;
}

.header {
  display: flex;
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.movie_not_found {
  color: white;
  text-align: center;
  margin-top: 100px;
}

.logo {
  a {
    color: rgb(231, 229, 214);
    text-decoration: none;
  }

  font-size: 3rem;
  letter-spacing: 15px;
  margin-top: 25px;
}

.header_sub {
  display: flex;
  flex-direction: column;
}

.mylist_link {
  width: 100px;
  margin-top: 10px;
  background-color: rgb(211, 65, 7);
  border: 2px solid rgb(211, 65, 7);
  padding: 12;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  align-self: flex-end;
  font-weight: 600;
}

.mylist_link:hover {
  text-decoration: none;
  color: rgb(211, 65, 7);
  background-color: rgb(233, 233, 233);
  border: 2px solid rgb(211, 65, 7);
}
